* {
  box-sizing: border-box;
}

header {
  color: white;
  background-color: rgb(242, 0, 255);
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
}

body {
  margin: 0;
  background-color: white;
  align-content: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.page {
  display: grid;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.guesses-remaining {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 30px;
  font-size: 20px;
}

/* .measure-img {
  
} */

.title {
  font-size: 70px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0px 0px 0px 0px;
}

.description {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0px 0px 20px 0px;
  padding-bottom: 20px;
}

.start-game-container {
  text-align: center;
}

button {
  /* width: 150px;
  height: 70px;
  background-color: rgb(12, 237, 147);
  font-weight: bold; */
  border: none;
  background: #ff7a59;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}

button:hover {
  color: #ff7a59;
  border: #ff7a59 solid 1px;
  background: #fff;
}

.board-container {
  justify-content: center;
}

.score-container {
  justify-content: center;
}
